#my-captcha .canvas-wrapper {
    position: relative;
    margin: 0 auto;
}
#my-captcha .canvas-wrapper .refresh{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#my-captcha .canvas-wrapper .refresh svg{
    width: 20px;
    height: 20px;
}
#my-captcha .swiper-canvas {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    cursor: grab;
    
}
#my-captcha .swiper-wrapper {
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    text-align: center;
    margin: 10px auto;
    position: relative;
    box-sizing: border-box;
    user-select: none;
}
#my-captcha .swiper-wrapper .swiper-box {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0.5px;
    left: 0;
    background: #f1f1f1;
    /* border: 1px solid #ddd; */
    box-sizing: border-box;
}
#my-captcha .swiper-wrapper .active {
    background: #9fd6e8;
}
#my-captcha .swiper-wrapper .active .swiper{
    background: #77d7f6;
}
#my-captcha .swiper-wrapper .active .swiper path{
    fill: #fff;
}


#my-captcha .swiper-wrapper .swiper {
    position: absolute;
    top: -1px;
    right: 0;
    width: 38px;
    height: 38px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 1px #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#my-captcha .swiper-wrapper .swiper svg{
    width: 20px;
    height: 20px;
}
#my-captcha .success {
    background: #D2F4EF !important;
    color: #fff;
    /* border: 1px solid #52CCBA; */
}
#my-captcha .success .swiper {
    background: #52CCBA !important;
    border: 1px solid #52CCBA;
    color: #fff;
}
#my-captcha .success svg path{
    fill: #fff;
}
#my-captcha .error {
    background: #fce1e1 !important;
    color: #fff;
    /* border: 1px solid #f57a7a; */
}
#my-captcha .error .swiper {
    background: #f57a7a !important;
    border: 1px solid #f57a7a;
    color: #fff;
}
#my-captcha .error svg path{
    fill: #fff;
}